@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: Poppins;
    background-color: rgb(235, 221, 221);
    color: black;
}
.btn{
    color: rgb(235, 221, 221);
    background-color: black;
}
.btn:hover{
    color: rgb(235, 221, 221);
}
img{
    width: inherit;
    height: 20rem;
    border: 1px solid rgb(65, 61, 61);
    box-shadow: 5px 10px #a5a0a0;
    /* border-radius: 5px; */
}
.box{
    border: 2px solid rgb(109, 112, 112);
    box-shadow: 5px 10px #a5a0a0;
    /* border-radius: 5px; */
}
.input{
    background-color:rgb(235, 221, 221) ;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid rgb(70, 66, 66);
}
.input:focus{
    outline: none;
}

@media only screen and (max-width: 800px) {
    .input{
        width: -webkit-fill-available;
    }
  }