@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
/* styles for body */

body{
    font-family: Poppins;
}

/* styles of navbar */
.navbar{
    background-color: black !important ;
}
.navbar-toggler{
    background-color: white;
}
.navbar a{
    font-size: 1.5rem;
    color: white;
}
/* styles of intro part */
#intro{
    background: url(./into-bg.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    padding-top: 20rem;
    font-size: 3rem;
}

/* about section */
#about{
    background: url(./1.png) no-repeat;
    color: rgb(116, 110, 110);
}
#font{
    font-size: 3rem;
}
hr{
    width: 50%;
    background-color: rgb(182, 173, 173);
}

/* skills section */
#skills{
    background: url(./bg2.jpg) no-repeat;
    background-size: cover;
    height: 1000px;
}

/* media query */
@media screen and (max-width: 490px) {
    body {
      width: fit-content;
    }
  }